// Global Variables

// Container
$container-width-xxl: 1350px;
$container-width-xl: 1170px;
$container-width-lg: 990px;
$container-width-md: 750px;
$container-width-sm: 570px;
$container-width-xs: 100%;

// Padding
$container-padding: 15px;
$container-padding-sm: 10px;
$container-padding-xs: 5px;

$section-padding: 80px;
$section-padding-lg: 70px;
$section-padding-md: 60px;
$section-padding-sm: 50px;
$section-padding-xs: 40px;

// Margin
$title-margin-bottom: 80px;
$title-margin-bottom-lg: 70px;
$title-margin-bottom-md: 60px;
$title-margin-bottom-sm: 50px;
$title-margin-bottom-xs: 40px;

// Font
$font-main: "Roboto", sans-serif;
$font-second: "Poppins", sans-serif;
$font-third: "SedgwickAveDisplay", sans-serif;
$font-fourth: "Nunito", sans-serif;

// Color light version
$color-font-main: #333333;
$color-bg: #FFFFFF;
$color-block-accent: #D3D3D3;
$color-accent-blue: #007BFF;
$color-accent-orange: #FF6600;
$color-accent-green: #66BB6A;
$color-accent-light__blue: #04C2C9;
$color-bar-grey: #E0E0E0;
$color-bar-blue: #00A1A7;
$color-border-grey: #454545;
