.footer {
	background-color: var(--color-font-main);
	color: var(--color-bg);
	padding: 20px;
	text-align: center;

	@include media-sm {
		font-size: 14px;
	}

	@include media-xs {
		font-size: 13px;
	}
}
