.header {
	background-color: $color-block-accent;
	padding: 15px 0;
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;

	&__wrapper {
		@include flex-center-between;
		gap: 15px;
	}

	&__btn-wrapper {
		@include flex-center;
		gap: 20px;
	}

	.mobile-nav-btn {
		display: none;

		@include media-md {
			display: block;
		}
	}

	@include media-lg {
		padding: 10px 0;
	}
}
