.hero {
    background-color: var(--color-block-accent);
    @include flex-center;
    padding: 120px 0;

    min-height: 600px;

    &__wrapper {
        @include flex-center-between;

        &-content {
            font-family: $font-second;
            font-size: 24px;
            font-weight: 500;

            padding: 60px 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex-shrink: 0;

            @include media-lg {
                padding: 20px;
                gap: 15px;
            }

            @include media-md {
                padding: 40px;
            }

            @include media-sm {
                padding: 0;
            }
        }

        &-img {
            object-fit: contain;
            max-width: 550px;
            width: 100%;

            @include media-xl {
                max-width: 450px;
            }

            @include media-lg {
                max-width: 320px;
            }

            @include media-md {
                max-width: unset;
                max-height: 340px;
            }
        }

        @include media-md {
            flex-direction: column;
            gap: 50px;
        }

        @include media-sm {
            gap: 30px;
        }
    }

    &__text {
        font-size: 35px;

        span {
            font-size: 45px;
            font-weight: 700;
            color: var(--color-accent-blue);
        }

        @include media-lg {
            font-size: 30px;

            span {
                font-size: 35px;
            }
        }

        @include media-sm {
            font-size: 22px;

            span {
                font-size: 26px;
            }
        }
    }

    &__title {
        span {
            font-weight: 600;
            color: var(--color-accent-orange);
        }

        @include media-lg {
            font-size: 22px;
        }

        @include media-sm {
            font-size: 18px;
        }
    }

    @include media-lg {
        padding: 82px 0;
    }

    @include media-sm {
        padding: 75px 0;
    }
}